@using TestSite.Controllers
@using TestSite.Models
@model TestSite.Models.Cart


@{
    ViewBag.Title = "Index";
}
<div class="container pb-5">
<div class="row">

    <div class="col-md-12">
        <h2>Sepet</h2>
        <hr/>
        @if (Model.CartLines.Count > 0)
        {
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 60px;text-align: center">Image</th>
                    <th style="width: 70px;text-align: center">Quantity</th>
                    <th style="text-align: center">Product Name</th>
                    <th style="text-align: center">Price</th>
                    <th style="text-align: center">Sub Total</th>
                    <th style="text-align: center">Delete</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.CartLines)
                {
                    <tr>
                        <td style="text-align: center"><img src="/Upload/@item.Product.Image" width="70" /></td>
                        <td style="text-align: center">@item.Quantity</td>
                        <td style="text-align: center">@item.Product.Name</td>
                        <td style="text-align: center">@item.Product.Price</td>
                        <td style="text-align: center">@((item.Product.Price * item.Quantity).ToString("c"))</td>
                        <td  style="text-align: center">
                            @using (Html.BeginForm("RemoveCart", "Cart"))
                            {
                                @Html.Hidden("Id", item.Product.Id)
                                <button type="submit" class="btn btn-outline-danger btn-sm">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    Delete
                                </button>
                            }
                        </td>

                    </tr>

                }
                </tbody>

                <tfoot>
                <tr>
                    <td colspan="4" style="text-align: right">Ürünlerinizin Toplam Fiyatı:</td>
                    <td style="text-align: center">@Model.Total().ToString("c")</td>
                    <td style="text-align: center">
                        @using (Html.BeginForm("CartEmpty", "Cart"))
                        {
                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Empty
                            </button>
                        }

                    </td>
                </tr>
                </tfoot>
            </table>
            <div class="text-center">
                
                <a href="/Home/List" class="btn btn-outline-dark btn-sm"> <i class="fas fa-home"></i> Devam</a>
                <a href="/Cart/Checkout" class="btn btn-outline-dark btn-sm"> <i class="fas fa-wallet"></i> Tamam</a>
            </div>
        }
        else
        {
            <div class="alert alert-warning" style="text-align: center" role="alert">
                Sepetiniz boş <i class="fa fa-frown-o"></i>
            </div>
        }
        
    </div>
</div>
</div>

